[Unit]
Description=copyparty file server
After=network.target
[Service]
Type=simple
User=copyparty
Group=copyparty
WorkingDirectory=/opt/copyparty
ExecStart=/usr/bin/python3 /opt/copyparty/copyparty-sfx.py -c /opt/copyparty/config/copyparty.conf --xau f,j,/opt/copyparty/hooks/xau-register.py
ExecReload=/bin/kill -USR1 $MAINPID
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
